hack/preview.env
hack/monitoring.env
cosign.pub
.tmp/
tmp
.idea/*
components/pipeline-service/base/log-collector/charts/*

# Ignore cached Helm charts
components/**/charts/

# infra-tools build artifacts
infra-tools/bin/
