# Required
#Namespace to which we want to install observability stack
#default is openshift-customer-monitoring
export MONITORING_NAMESPACE="openshift-customer-monitoring"

#Values for the below variables need to be replaced with actual oauth values from github
#Check readme for details about how to get github oauth details
#Github access tokens for prometheus oauth
export PROMETHEUS_GITHUB_CLIENT_ID=
export PROMETHEUS_GITHUB_CLIENT_SECRET=
export PROMETHEUS_GITHUB_COOKIE_SECRET=

#Github access tokens for grafana oauth
export GRAFANA_GITHUB_CLIENT_ID=
export GRAFANA_GITHUB_CLIENT_SECRET=
export GRAFANA_GITHUB_COOKIE_SECRET=

#Github admin access for editing the databoards and datasources
export GRAFANA_ADMIN_USER=
export GRAFANA_ADMIN_PASSWD=
